@model IEnumerable<Abituriyent.Info.Core.Domain.Lesson>

@{
    ViewData["Title"] = "Lessons";
    Layout = "_AdminLayout";
    var subjectId = Context.Request.Query["subjectId"].FirstOrDefault();
}

<h2>Lessons</h2>
<br />
<p>
    <a asp-action="LessonCreate" asp-route-subjectId="@subjectId">Add Lesson</a>
</p>

<table class="table table-bordered table-striped datatable" id="table-2">
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <th>@Html.DisplayNameFor(model => model.PdfFile)</th>
        <th>@Html.DisplayNameFor(model => model.VideoUrl)</th>
        <th colspan="2" class="text-center">Actions</th>
        <th>Related Lessons</th>
    </tr>
    </thead>

    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-controller="Admin" asp-action="ReadPdf" asp-route-lessonId="@item.Id" alt="Image">View PDF</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VideoUrl)
            </td>
            <td>
                <a asp-action="LessonEdit" asp-route-id="@item.Id" class="btn btn-default btn-sm btn-icon icon-left">
                    <i class="entypo-pencil"></i>
                    Edit
                </a>
            </td>
            <td>
                <form asp-controller="Admin" asp-action="LessonDelete" method="post">
                    <input type="hidden" name="id" value="@item.Id" />
                    <button onclick="return confirm('Are you sure you want to delete this item ?')" type="submit" class="btn btn-danger btn-sm btn-icon icon-left">
                        <i class="entypo-cancel"></i>
                        Delete
                    </button>
                </form>
            </td>
            <td>
                <a asp-action="TestIndex" asp-route-lessonId="@item.Id" class="btn btn-green btn-sm btn-icon icon-left">
                    <i class="entypo-bag"></i>
                    View Tests
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>
<div>
    <a asp-action="SubjectIndex">Back to Subjects</a>
</div>