@model IEnumerable<Abituriyent.Info.Core.Domain.Subject>

@{
    ViewData["Title"] = "Subjects";
    Layout = "_AdminLayout";
}

<h2>Subjects</h2>
<br/>
<p>
    <a asp-action="SubjectCreate">Add Subject</a>
</p>

<table class="table table-bordered table-striped datatable" id="table-2">
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <th>Groups</th>
        <th colspan="2" class="text-center">Actions</th>
        <th>Related Lessons</th>
    </tr>
    </thead>

    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @foreach (var course in item.Courses)
                {
                    <span class="badge badge-info theme-name">@course.Group.Name</span>
                }
            </td>
            <td>
                <a asp-action="SubjectEdit" asp-route-id="@item.Id" class="btn btn-default btn-sm btn-icon icon-left">
                    <i class="entypo-pencil"></i>
                    Edit
                </a>
            </td>
            <td>
                <form asp-controller="Admin" asp-action="SubjectDelete" method="post">
                    <input type="hidden" name="id" value="@item.Id"/>
                    <button onclick="return confirm('Are you sure you want to delete this item ?')" type="submit" class="btn btn-danger btn-sm btn-icon icon-left">
                        <i class="entypo-cancel"></i>
                        Delete
                    </button>
                </form>
            </td>
            <td>
                <a asp-action="LessonIndex" asp-route-subjectId="@item.Id" class="btn btn-green btn-sm btn-icon icon-left">
                    <i class="entypo-bag"></i>
                    View Lessons
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>